body{
    background: #BDBDDB;
    margin: 0; 
}
.header{
    width: 100%;
    border-top:3px solid black;
    border-bottom: 3px solid black; 
}
header ul{
    margin:0 auto;
}
.header li {
    
    color:black;
    font-weight: bold;
    padding: 0 0;
    
  }
.main img{
      width: 600px;
      height: 500px;
     padding-left: 150px;
     padding-top: 80px;
     float: left;
     margin-right: 180px;
  }
  .dmsrifdhkdwk li{
      float: left;
    
  }