body
{
    margin: 0;
}

section > img
{
    height: 100vh;
    width: 100vw;
    position: relative;
    opacity: 0.5;
}

#MainSection
{
    height: 100vh;
}

#MainSection > article
{
    position: absolute;
    top: 25%;
    left: 37%;
    color: white;
    text-align: center;
}

#MainSection > article > h1
{
    font-size: 60px;
}

#MainSection > article > p
{
    font-size: 35px;
}

ul,li
{
    list-style: none;
}

li > a 
{
    text-decoration: none;
}

#MainSection > ul
{
    position: absolute;
    top: 25%;
    font-size: 25px;
}

#MainSection > ul > li > a
{
    color: #F5E1A2;
    line-height: 100px;
    font-weight: bold;
}