#MainSection > ul > :first-child > a
{
    font-weight: bolder;
    font-style: oblique;
    text-decoration: underline ;
}

.InfoSection
{
    background-color: #FBF5E3;
    height: 100vh;
    padding : 40px 0px 0px 140px;
}

.InfoSection > h1
{
    margin-top: 0;
    margin-bottom: 100px;
    font-size: 45px;
}

.InfoSection > p
{
    font-size: 35px;
    margin-right: 30px;
}

.InfoSection > p:nth-of-type(1)
{
    margin-bottom: 100px;
}

.InfoSection > p:nth-of-type(2)
{
    margin-bottom: 100px;
}

.InfoSection > p:nth-of-type(3)
{
    margin-bottom: 0;
}

.leftPictureBox > img
{
    width: 50%;
    height: 50%;
}